# DataFrame操作

python做数据科学的操作对象是：dataframe（数据框）
dataframe是二维的，有行和列，类似于excel表格

对于数据集的操作全部基于pandas

In [28]:
import pandas as pd

# 读取数据集
df = pd.read_excel("data\\anova2.xlsx")

In [29]:
# 预览数据集
df.head()

     Blend   Crop  Yield
0  Blend X  Wheat    123
1  Blend X  Wheat    156
2  Blend X  Wheat    112
3  Blend X  Wheat    100
4  Blend X   Corn    128

In [30]:
# 数据集列名称
df.columns

Index(['Blend', 'Crop', 'Yield'], dtype='object')

In [31]:
# 描述型统计分析
df.describe()

            Yield
count   24.000000
mean   145.541667
std     25.411362
min    100.000000
25%    126.750000
50%    142.500000
75%    168.000000
max    187.000000

In [32]:
# 数据集信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Blend   24 non-null     object
 1   Crop    24 non-null     object
 2   Yield   24 non-null     int64
dtypes: int64(1), object(2)
memory usage: 708.0+ bytes

In [33]:
# 删除Blend、Crop列
df1 = df.drop(['Blend', 'Crop'], axis=1)
df1.head()

   Yield
0    123
1    156
2    112
3    100
4    128

In [34]:
# 选中Blend、Crop列
df2 = df.loc[:, ['Blend', 'Crop']]
df2.head()

     Blend   Crop
0  Blend X  Wheat
1  Blend X  Wheat
2  Blend X  Wheat
3  Blend X  Wheat
4  Blend X   Corn

In [36]:
# 把df2粘贴都剪切板
df2.to_clipboard(excel=True)

# 把df2写入excel
df2.to_excel("data\\df2.xlsx", index=False)