In [1]:
import pandas as pd
import statsmodels.api as sm

df1 = pd.read_excel("data\\boston_house_prices.xlsx")
df2 = pd.read_excel("data\\iris.xlsx")

In [2]:
df1 = df1[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'MEDV']]
df1.head()

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE  MEDV
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  24.0
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  21.6
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  34.7
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  33.4
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  36.2

In [3]:
X1 = sm.add_constant(df1.drop("MEDV", axis=1))
X2 = df2.drop("class", axis=1)
y1 = df1["MEDV"]
y2 = df2["class"].map({"setosa": 1, "versicolor": 2, "virginica": 3})

In [4]:
# 线性回归
model1 = sm.OLS(y1, X1).fit()
# 多元逻辑回归：二元逻辑回归使用Logit
model2 = sm.MNLogit(y2, X2).fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.072266
         Iterations: 35

d:\Coding\python\envs\py_ds\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [5]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.589
Model:                            OLS   Adj. R-squared:                  0.584
Method:                 Least Squares   F-statistic:                     102.2
Date:                Sat, 27 Jul 2024   Prob (F-statistic):           4.20e-92
Time:                        20:47:26   Log-Likelihood:                -1615.0
No. Observations:                 506   AIC:                             3246.
Df Residuals:                     498   BIC:                             3280.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -18.2649      3.215     -5.682      0.000     -24.581     -11.949
CRIM          -0.1728      0.035     -4.988      0.000      -0.241      -0.105
ZN             0.0142      0.015      0.979      0.328      -0.014       0.043
INDUS         -0.1309      0.064     -2.035      0.042      -0.257      -0.005
CHAS           4.8407      1.058      4.575      0.000       2.762       6.919
NOX           -4.3574      4.089     -1.066      0.287     -12.391       3.676
RM             7.3864      0.417     17.693      0.000       6.566       8.207
AGE           -0.0236      0.015     -1.601      0.110      -0.053       0.005
==============================================================================
Omnibus:                      228.579   Durbin-Watson:                   0.839
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1707.080
Skew:                           1.809   Prob(JB):                         0.00
Kurtosis:                      11.239   Cond. No.                     1.29e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [6]:
pd.DataFrame(model1.params).T

,const,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE
0,-18.264926,-0.172761,0.014214,-0.130899,4.84073,-4.357411,7.386357,-0.023625

In [7]:
print(model2.summary())

                          MNLogit Regression Results
==============================================================================
Dep. Variable:                  class   No. Observations:                  150
Model:                        MNLogit   Df Residuals:                      142
Method:                           MLE   Df Model:                            6
Date:                Sat, 27 Jul 2024   Pseudo R-squ.:                  0.9342
Time:                        20:47:26   Log-Likelihood:                -10.840
converged:                      False   LL-Null:                       -164.79
Covariance Type:            nonrobust   LLR p-value:                 1.655e-63
==============================================================================
   class=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
X1            -6.1550   1.48e+04     -0.000      1.000   -2.91e+04     2.9e+04
X2            -8.1911   2.17e+04     -0.000      1.000   -4.26e+04    4.26e+04
X3            17.2063   3.82e+04      0.000      1.000   -7.49e+04    7.49e+04
X4            18.5152   7.76e+04      0.000      1.000   -1.52e+05    1.52e+05
------------------------------------------------------------------------------
   class=3       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
X1           -12.4827   1.48e+04     -0.001      0.999   -2.91e+04     2.9e+04
X2           -14.8093   2.17e+04     -0.001      0.999   -4.26e+04    4.26e+04
X3            25.6401   3.82e+04      0.001      0.999   -7.48e+04    7.49e+04
X4            28.7978   7.76e+04      0.000      1.000   -1.52e+05    1.52e+05
==============================================================================

In [8]:
pd.DataFrame(model2.params).T

          X1         X2         X3         X4
0  -6.154985  -8.191119  17.206265  18.515247
1 -12.482704 -14.809305  25.640066  28.797791