对于数值特征：画一个频率分布表

对于分类特征：直接统计各类别的个数（和比例）

In [6]:
import pandas as pd

In [7]:
# 读取数据集
df1 = pd.read_excel('data\\iris.xlsx')
df1.head()

    X1   X2   X3   X4   class
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa

In [8]:
def cut_bins(df, column_name, bins=[0, 10, 20, 30, 40, 50], new_column_name='new_column'):
    
    # 自动生成标签
    labels = [f'{bins[i]}-{bins[i+1]}' for i in range(len(bins)-1)]
    
    # 数值特征离散化
    df[new_column_name] = pd.cut(df[column_name], bins=bins, labels=labels)
    
    return df


def frequency_table(df, name):
    
    # 计算频率分布
    frequency_distribution = df[name].value_counts()

    # 计算百分比
    percentage = (frequency_distribution / len(df)) * 100

    # 创建频率分布表
    table = pd.DataFrame({
        'Value': frequency_distribution.index,
        'Frequency': frequency_distribution.values,
        'Percentage (%)': percentage.values
    })

    # 把table粘贴都剪切板
    table.to_clipboard(excel=True)

    return table

## 分类特征的分布分析

In [9]:
frequency_table(df=df1, name='class')

        Value  Frequency  Percentage (%)
0      setosa         50       33.333333
1  versicolor         50       33.333333
2   virginica         50       33.333333

## 数值特征的分布分析

In [10]:
df2 = cut_bins(df=df1, column_name='X1', bins=[4, 5, 6, 7, 8], new_column_name='new_X1')
df2.head()

    X1   X2   X3   X4   class new_X1
0  5.1  3.5  1.4  0.2  setosa    5-6
1  4.9  3.0  1.4  0.2  setosa    4-5
2  4.7  3.2  1.3  0.2  setosa    4-5
3  4.6  3.1  1.5  0.2  setosa    4-5
4  5.0  3.6  1.4  0.2  setosa    4-5

In [11]:
frequency_table(df2, 'new_X1')

  Value  Frequency  Percentage (%)
0   5-6         57       38.000000
1   6-7         49       32.666667
2   4-5         32       21.333333
3   7-8         12        8.000000